.rt-image-upload {
  width: 480px;
}

.rt-image-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

img {
  display: none;
  position: absolute;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  top: 50%;
  transform: translatey(-50%);
}
